[alias]
	; m = checkout master
	m = "!f() { git checkout master 2>/dev/null || git checkout main; }; f"
	p = push
	b = branch
	s = status
	d = diff
	set-upstream = !git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)
[sequence]
	editor = vi
[core]
	editor = vi
[pull]
	rebase = false
[user]
	name = Daniel Eriksson
	email = daern91@gmail.com
[push]
	default = current
	autoSetupRemote = true
[credential]
	helper = manager-core
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
